.center-cropped {
	width: 250px;
	height: 150px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 300px;
  }

.added-by-me-section {
	margin: 25px 25px 175px 25px;
	height: 54.2vh;
}

.no-destinations {
	margin-top: 27vh;
}