.login {
	display: flex;
}
#login-form {
	margin: auto;
	margin-bottom: 265px;
}
#login-form {
	border: 5px solid black;
	margin-top: 50px;
	padding: 20px;
	border-radius: 10px;
}

label {
	display: block;
	position: relative;
	padding-left: 0px;
}
label > span {
	position: absolute;
	left: 0;
}
.button {
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    background: black;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}
