.map-of-bulgaria {
	width: 60%;
	font-size: 28px;
	font-family: "DejaVu Sans", sans-serif;
	font-weight: bold;
	fill: white;
}
.level1 {
	stroke-width: 1;
	fill-opacity: 1;
	fill: #646464;
	cursor: pointer;
}

.level1:hover {
	fill: green;
}

.active {
	fill: rgb(255, 174, 0);
}


